/* Galleria Azur Theme 2013-11-04 | http://galleria.io/license/ | (c) Aino */

#galleria-loader{height: 1px}

.galleria-theme-azur {
    position: relative;
    overflow: hidden;
    font: 12px/1.4 arial,sans-serif;
    color: #fff;
}
.galleria-theme-azur img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.galleria-theme-azur .galleria-stage {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40px;
    background:#000 url(bg.png);
}
.galleria-theme-azur.light .galleria-stage {
    background:#181818 url(bg.png);
}
.galleria-theme-azur .galleria-bar {
    /*height: 40px;*/
	height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    overflow: hidden;
    background:#141414 url(bg.png);
}
.galleria-theme-azur.light .galleria-bar {
    background:#fff;
    border:1px solid #ccc;
    border-top-width:0;
}
.galleria-theme-azur .galleria-fullscreen,
.galleria-theme-azur .galleria-play {
    width: 40px;
    height: 50px;
    position: absolute;
    left: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    border-right: 1px solid #333;
    outline: 1px solid #000;
    outline-width: 0 1px 0 0;
}
.galleria-theme-azur.light .galleria-fullscreen,
.galleria-theme-azur.light .galleria-play {
    border-right-color:#ccc;
    outline-width: 0;
}
.galleria-theme-azur .galleria-play {
    background-image: url(playpause-white.png);
/*    background-position: 50% 11px;*/
	background-position: 50% 20px;
}
.galleria-theme-azur.light .galleria-play {
    background-image: url(playpause-neg.png);
}
.galleria-theme-azur .galleria-play.pause {
    /*background-position: 50% -89px;*/
	background-position: 50% -80px;
}
.galleria-theme-azur .galleria-fullscreen {
    left: 42px;
    background-image: url(fscreen.png);
    background-position: 50% 20px;
}
.galleria-theme-azur.fullscreen .galleria-fullscreen {
    background-position: 50% -80px;
}
.galleria-theme-azur.light .galleria-fullscreen {
    background-image: url(fscreen-neg.png);
    left: 41px;
}
.galleria-theme-azur .galleria-play.playing { background-position: 10px -91px }
.galleria-theme-azur .galleria-fullscreen.open { background-position: 8px -93px }

.galleria-theme-azur.notouch .galleria-thumblink:hover,
.galleria-theme-azur.touch .galleria-thumblink:active,
.galleria-theme-azur .galleria-thumblink.open,
.galleria-theme-azur.notouch .galleria-fullscreen:hover,
.galleria-theme-azur.touch .galleria-fullscreen:active,
.galleria-theme-azur.notouch .galleria-play:hover,
.galleria-theme-azur.touch .galleria-play:active,
.galleria-theme-azur.notouch .galleria-popout:hover,
.galleria-theme-azur.touch .galleria-popout:active { background-color: #000 }

.galleria-theme-azur.notouch.light .galleria-thumblink:hover,
.galleria-theme-azur.touch.light .galleria-thumblink:active,
.galleria-theme-azur.light .galleria-thumblink.open,
.galleria-theme-azur.notouch.light .galleria-fullscreen:hover,
.galleria-theme-azur.touch.light .galleria-fullscreen:active,
.galleria-theme-azur.notouch.light .galleria-play:hover,
.galleria-theme-azur.touch.light .galleria-play:active,
.galleria-theme-azur.notouch.light .galleria-popout:hover,
.galleria-theme-azur.touch.light .galleria-popout:active { background-color: #eee }

.galleria-theme-azur.videoplay .galleria-info,
.galleria-theme-azur.videoplay .galleria-counter{ display:none!important; }

.galleria-theme-azur .galleria-thumbnails-container {
    position: absolute;
    top: 4px;
    right: 5px;
    left: 86px;
    bottom: 0;
    z-index: 2;
    *top: 6px;
    *right: 6px;
}
.galleria-theme-azur .galleria-thumbnails-list {
    position: absolute!important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.galleria-theme-azur .galleria-thumbnails {
    text-align: right;
    float: right;
}
.galleria-theme-azur .galleria-carousel .galleria-thumbnails {

    float: none;
}
.galleria-theme-azur .galleria-thumbnails .galleria-image {
    /*width: 27px;
    height: 27px; tamaño*/
	width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 0 0 1px;
    cursor: pointer;
    border: 3px double #111;
    *border: 1px solid #111;
    opacity: .6;
    filter: alpha(opacity=60);
    background: transparent;
}
.galleria-theme-azur.light .galleria-thumbnails .galleria-image {
    border-color:#fff;
}
.galleria-theme-azur .galleria-thumbnails .galleria-image {
    *display: inline;
}

.galleria-theme-azur.notouch .galleria-thumbnails .galleria-image:hover,
.galleria-theme-azur.touch .galleria-thumbnails .galleria-image:active {
    opacity: .9;
    background: #444;
    background: rgba(255, 255, 255, .4);
    filter: alpha(opacity=90);
}

.galleria-theme-azur .galleria-thumbnails .galleria-image.active,
.galleria-theme-azur.notouch .galleria-thumbnails .galleria-image.active:hover {
    opacity: 1;
    background: #ddd;
    background: rgba(255, 255, 255, .7);
    *border-color: #ccc;
    filter: alpha(opacity=100);
}
.galleria-theme-azur.light .galleria-thumbnails .galleria-image.active,
.galleria-theme-azur.light.notouch .galleria-thumbnails .galleria-image.active:hover {
    background:rgba(0,0,0,.4);
    *border-color:#bbb;
}

body .galleria-theme-azur .galleria-tooltip {
    background: #fff;
    background: rgba( 255, 255, 255, .8);
}

.galleria-theme-azur .galleria-captionopen {
    position: absolute;
    /*bottom: 10px;*/
	bottom: 15px;
    right: 10px;
    background: url(bgie.png);
    background: rgba(0,0,0,.7);
    padding: 3px 8px;
    font-size: 10px;
    text-transform:uppercase;
    letter-spacing: 0.5;
    z-index: 2;
    cursor:pointer;
    color: #ccc;
}

.galleria-theme-azur .galleria-captionopen:hover {
    background: #000;
    color: #fff;
}

.galleria-theme-azur .galleria-captionclose {
    background: none;
    font-size: 18px;
    position: absolute;
    top: 0; right: 10px;
    cursor: pointer;
}

.galleria-theme-azur .galleria-captionclose:hover{
    color:#ccc;
}

.galleria-theme-azur .galleria-progress.nocanvas {
    width: 32px;
    height: 5px;
    background: rgba(255,255,255,.2);
    background: url( 20.png );
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: none;
}

.galleria-theme-azur .galleria-progress.nocanvas .galleria-progressbar {
    height: 100%;
    width: 0;
    background: white;
}

.galleria-theme-azur .galleria-info {
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
	/*bottom: 0;*/
    bottom: 10px;
    color: #fff;
    background: url(bgie.png);
    background: url(bg.png) rgba(0,0,0,.6);
    z-index:2;
}

.galleria-theme-azur.light .galleria-info {
    color:#fff;
    background:url(bg.png) rgba(0, 0, 0, .2);
}

.galleria-theme-azur .galleria-info.toggler {
    visibility: hidden;
}

.galleria-theme-azur .galleria-info.toggler.open {
    visibility: visible;
}

.galleria-theme-azur .galleria-info-title {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 14px 10px;
    padding-right: 100px;
}
.galleria-theme-azur .galleria-info-description {
    opacity: .7;
    margin: -10px 14px 10px;
    padding-right: 100px;
}
.galleria-theme-azur .galleria-counter {
    opacity: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 10px;
    z-index: 2;
    font-weight: bold;
}
.galleria-theme-azur .galleria-loader {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -24px 0 0 -24px;
    z-index: 2;
    display: none;
}

.galleria-theme-azur .galleria-loader.nocanvas {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -24px 0 0 -24px;
    z-index: 2;
    display: none;
    background: #000 url(loader.gif) no-repeat 50% 50%;
    opacity: .6;
    filter: alpha(opacity=60);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.galleria-theme-azur .galleria-image-nav {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    width: 100%;
    height: 36px;
    left: 0;
}

.galleria-theme-azur .galleria-image-nav-left,
.galleria-theme-azur .galleria-image-nav-right {
    cursor: pointer;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 20px;
    z-index: 2;
    background: url(left.png) 50% 50% no-repeat;
    opacity: 0;
}
.galleria-theme-azur.smallarrows .galleria-image-nav-left {
    background-image: url(left-small.png);
}
.galleria-theme-azur .galleria-image-nav-right {
    left: auto;
    right: 20px;
    background-image: url(right.png);
    z-index: 2;
}
.galleria-theme-azur.smallarrows .galleria-image-nav-right {
    background-image: url(right-small.png);
}
.galleria-theme-azur.notouch .galleria-image-nav-left:hover,
.galleria-theme-azur.touch .galleria-image-nav-left:active { opacity: .7!important }
.galleria-theme-azur.notouch .galleria-image-nav-right:hover,
.galleria-theme-azur.touch .galleria-image-nav-right:active { opacity: .7!important }

.galleria-theme-azur .galleria-thumb-nav-left,
.galleria-theme-azur .galleria-thumb-nav-right {
    cursor: pointer;
    display: none;
    background: url(thumbleft-white.png) 50% 50%;
    position: absolute;
    left: 3px;
    /*top: 3px;*/
	top: -3px;
    *top: 1px;
    *left: 1px;
    height: 50px;
    width: 23px;
    z-index: 3;
}
.galleria-theme-azur.light .galleria-thumb-nav-left {
    background-image: url(thumbleft-neg.png);
}
.galleria-theme-azur .galleria-thumb-nav-right {
    border-right: none;
    right: 3px;
    *right: 1px;
    left: auto;
    background: url(thumbright-white.png) 50% 50%;
}
.galleria-theme-azur.light .galleria-thumb-nav-right {
    background-image: url(thumbright-neg.png);
}
.galleria-theme-azur .galleria-thumbnails-container .disabled {
    opacity: .2;
    filter: alpha(opacity=20);
    cursor: default;
}
.galleria-theme-azur.notouch .galleria-thumb-nav-left:hover,
.galleria-theme-azur.notouch .galleria-thumb-nav-right:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #222;
    background-color: rgba(255, 255, 255, .07);
}
.galleria-theme-azur.light.notouch .galleria-thumb-nav-left:hover,
.galleria-theme-azur.light.notouch .galleria-thumb-nav-right:hover {
    background-color:#eee;
}
.galleria-theme-azur.touch .galleria-thumb-nav-left:active,
.galleria-theme-azur.touch .galleria-thumb-nav-right:active {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #111;
}
.galleria-theme-azur.notouch .galleria-thumbnails-container .disabled:hover {
    opacity: .2;
    filter: alpha(opacity=20);
    background-color: transparent;
}

.galleria-theme-azur .galleria-carousel .galleria-thumb-nav-left,
.galleria-theme-azur .galleria-carousel .galleria-thumb-nav-right {
    display: block;
}
.galleria-theme-azur .galleria-carousel .galleria-thumbnails-list {
    right: 28px;
    left: 28px;
}

.galleria-theme-azur.videoplay .galleria-info,
.galleria-theme-azur.videoplay .galleria-counter{display:none!important;}


	