.galleria{min-height:420px;}
@media (max-width: 767px) { 
    .galleria{min-height:320px;} 
}
@media (max-width: 480px) { 
    .galleria{		min-height:220px; 	  }
}

.gall-list{
 margin:14px; border:0px solid #edf1f2;
}
 .gall-list-2{
 border:1px solid #ccc;
 border-spacing: 4px;
    border-collapse: separate;
}
.det-gallery-nombre{
	 float:left;
	 margin-right:10px;
	 }
.det-back{
	text-align:right;
}
@media (max-width: 767px) {  
 .gall-list {
		width: 100%;
		text-align: center;
		margin:auto;
		margin-bottom:10px;
	}
	.gall-list-2 {
		width: 100%;
		
	}
	.gall-list-2 img {
		width: 100%;
		height:auto;
		
	}
	.det-gallery-nombre{
		float:none !important;
		text-align:center;
		}
		.det-back{
			text-align: center;
			margin: 20px 0px;
		}
		.gallery-social{float:left;text-align:center;padding-bottom:10px;}
}
 