*{line-height: 1.3 !important; }
.cke_editable_themed{padding: 10px;}
.cke_editable_themed h6:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h5:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h4:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h3:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h2:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h1:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed blockquote:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed address:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed pre:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed div:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed p:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h6:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h5:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h4:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h3:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h2:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h1:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed blockquote:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed address:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed pre:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed div:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed p:not([contenteditable=false]):not(.cke_show_blocks)
{background-repeat:no-repeat;border:1px dotted gray;padding: 8px 3px 3px 2px; margin-left: 5px;}
.cke_editable_themed h6:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_h6.png?t=F62B)}
.cke_editable_themed h5:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_h5.png?t=F62B)}
.cke_editable_themed h4:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_h4.png?t=F62B)}
.cke_editable_themed h3:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_h3.png?t=F62B)}
.cke_editable_themed h2:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_h2.png?t=F62B)}
.cke_editable_themed h1:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_h1.png?t=F62B)}
.cke_editable_themed blockquote:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_blockquote.png?t=F62B)}
.cke_editable_themed address:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_address.png?t=F62B)}
.cke_editable_themed pre:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_pre.png?t=F62B)}
.cke_editable_themed div:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_div.png?t=F62B)}
.cke_editable_themed p:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_p.png?t=F62B)}
.cke_editable_themed.cke_show_blocks h6:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_h6.png?t=F62B)}
.cke_editable_themed.cke_show_blocks h5:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_h5.png?t=F62B)}
.cke_editable_themed.cke_show_blocks h4:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_h4.png?t=F62B)}
.cke_editable_themed.cke_show_blocks h3:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_h3.png?t=F62B)}
.cke_editable_themed.cke_show_blocks h2:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_h2.png?t=F62B)}
.cke_editable_themed.cke_show_blocks h1:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_h1.png?t=F62B)}
.cke_editable_themed.cke_show_blocks blockquote:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_blockquote.png?t=F62B)}
.cke_editable_themed.cke_show_blocks address:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_address.png?t=F62B)}
.cke_editable_themed.cke_show_blocks pre:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_pre.png?t=F62B)}
.cke_editable_themed.cke_show_blocks div:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_div.png?t=F62B)}
.cke_editable_themed.cke_show_blocks p:not([contenteditable=false]):not(.cke_show_blocks){background-image:url(plugins/showblocks/images/block_p.png?t=F62B)}
.cke_editable_themed h6:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h5:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h4:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h3:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h2:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h1:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed blockquote:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed address:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed pre:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed div:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed p:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h6:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h5:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h4:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h3:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h2:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h1:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed blockquote:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed address:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed pre:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed div:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed p:not([contenteditable=false]):not(.cke_show_blocks)
{background-position:top left !important;padding-left:8px !important;}
.cke_editable_themed h6:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h5:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h4:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h3:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h2:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed h1:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed blockquote:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed address:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed pre:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed div:not([contenteditable=false]):not(.cke_show_blocks),
.cke_editable_themed p:not([contenteditable=false]):not(.cke_show_blocks)
{background-position:top left !important; padding-left:8px !important;}
.cke_editable_themed  table.cke_show_border,
.cke_editable_themed  table.cke_show_border > tr > td, 
.cke_editable_themed  table.cke_show_border > tr > th,
.cke_editable_themed  table.cke_show_border > tbody > tr > td, 
.cke_editable_themed  table.cke_show_border > tbody > tr > th,
.cke_editable_themed  table.cke_show_border > thead > tr > td, 
.cke_editable_themed  table.cke_show_border > thead > tr > th,
.cke_editable_themed  table.cke_show_border > tfoot > tr > td,
.cke_editable_themed  table.cke_show_border > tfoot > tr > th
{border : #d3d3d3 1px dotted !important}
.cke_editable_themedp{display: block;max-width: 100%;min-width: 20px;    padding-right: 8px !important;}
.cke_editable_themed ul,
.cke_editable_themed ol,
.cke_editable_themed li{text-decoration: none !important;position: relative;padding: 8px 8px 8px 8px !important;margin: 2px;border : #d3d3d3 1px dotted !important;}
.cke_editable_themed ul:before,
.cke_editable_themed ol:before,
.cke_editable_themed li:before
{color: #808080;font-size: 10px;position: absolute;top: -5px;left: 0px;}
.cke_editable_themed ul:before{content: 'UL'; }
.cke_editable_themed ol:before{content: 'OL'; }
.cke_editable_themed li:before{content: 'LI'; }
body{background-color: #fafafa;}
*{text-shadow: 0px 0px 1px #00000094;}
/*
.cke_editable_themed a, 
.cke_editable_themed span, 
.cke_editable_themed b, 
.cke_editable_themed strong, 
.cke_editable_themed u, 
.cke_editable_themed small, 
.cke_editable_themed q, 
.cke_editable_themed em,*/
/*
.cke_editable_themed a:before, 
.cke_editable_themed b:before, 
.cke_editable_themed u:before, 
.cke_editable_themed span:before, 
.cke_editable_themed strong:before, 
.cke_editable_themed small:before, 
.cke_editable_themed q:before, 
.cke_editable_themed em:before
*/
/*
.cke_editable_themed a:before{content: "A"; }
.cke_editable_themed b:before{content: "B"; }
.cke_editable_themed em:before{content: "em"; }
.cke_editable_themed u:before{content: "U"; }
.cke_editable_themed span:before{content: "SPAN"; }
.cke_editable_themed q:before{content: "Q"; }
.cke_editable_themed small:before{content: "SAMLL"; }
.cke_editable_themed strong:before{content: "STRONG"; }*/
/*i.fa:before{content: "icon-"attr(ref)"";}*/