.contenidointerno{
	display: block;
	float: left;
	padding: 0px;
	width: 70%;
}
.sidebar{
	display: block;
	float: left;
	padding: 0px;
	margin-left:2%; 
	width: 28%;
	border:0px solid #ddd;
	border-radius: 4px;
}
@media (max-width: 900px){
	.contenidointerno,
	.sidebar
	{
		width: 100%;
	}
}
.col-date{
	padding: 0px;
}
.blog-date{
	border:0px solid #ddd;
	text-align: center;
	padding: 10px 5px;
	background: #2e6da4;
	color: #fff;
	font-family: arial;
	line-height: 1.1;	
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.head-date{
	font-size: 14px;
}
.body-date{
	font-size: 50px;
	font-weight: 900;
	color: #fff;
}
.link-date a{
	padding: 10px;
    display: block;
    text-align: center;
    font-size: 30px;
    border: 0px solid #ddd;
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #ddd;
    color: #2e6da4;
}
.foot-date{
	font-size: 12px;
	font-style: italic;
	font-weight: 100;
}
.date-mobile{display: none;}
@media(max-width: 450px){
	.blog-date, .link-date {display: none;}
	.date-mobile{display: block; margin-top: 0px; margin-bottom: 5px;}
	.article-post{padding-left: 0px !important; }
}
@media(max-width: 380px){
	.blog-date {width: 60%;}
	.link-date {width: 40%;}
}
.article-post{
	padding: 0px;
	padding-left: 10px;
}
.thumbnail-blog {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.blogtitle h2 {
margin-top: 10px;
margin-bottom: 10px;
}
.blogtitle h2 a{
font-size:32px;
color: #444;
}
.blogtitle h1{
font-size:45px;
color: #444;
margin-top: 10px;
margin-bottom: 30px;
padding: 0;
}
.post-img a{display: block;	}
.post-img img, .post-img a img{width:100% !important; height:auto;	}
.blog-metas {
	display: block;
	width: 100%;
	margin-top: 10px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.blog-metas ul{
	list-style-type: none;
	display: table;
	margin-bottom: 0px;
}
.blog-metas ul li{
	float:left;
	height:40px;
	padding:10px 8px;
	margin-right:30px;
	color:#444;
}
.blog-metas ul li.social{
	margin-right: 5px;	
	padding:0px 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.blog-detail {display: block; width: 100%; padding: 10px;}
.blog-detail p{margin-bottom: 5px;}
.blog-btn {display: block;width: 100%; padding: 10px;}
a.social-icon {
    border: 1px solid;
    border-color: #bbb;
    padding: 6px;
    border-radius: 50%;
}
a.social-icon:hover{color: #fff;}
a.social-icon.social-fb {padding: 6px 10px;}
a.social-icon.social-tw:hover{background: #00acee;border-color: #00acee;}
a.social-icon.social-fb:hover{background: #3b5998;border-color: #3b5998;}
.sp-mobile{display: none;}
@media (max-width: 450px) {
	.sp-mobile{
		display: block !important;
		width: 100% !important;
		padding: 0px !important;
		height: 1px !important;
	}
}
.blog-details {
	width: 100%;
}
.blog-details .thumbnail-blog {
	border: 0px;
}
.blog-details .blog-detail {
	padding: 20px 0px;
}
#twitter-widget-0{margin-top: 4px;}
.blog-detail p{margin-bottom: 25px;}
.blog-detail,
.blog-detail p,
.blog-detail ul,
.blog-detail li{
	font-size: 18px;
	line-height: 1.5;
	text-align: justify;
	color: #555;
}
.clear { clear: both; zoom:1;}
a { color: #4d4d4d; text-decoration: none; }
a:hover { text-decoration: none; }

.categories ul {
    display: block;
    list-style: none;
}

.categories ul li {
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid #423e3e;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 600;
}

.h1a {
color: #000;
font-size: 26px;
font-weight: bold;
line-height: 30px;
text-decoration: none;
}
.div_btn
{
text-transform: uppercase;
font-size:13px;
text-decoration:none;
}
.cat_home a
{
text-decoration:none;
}
.cat_home a:hover
{
text-decoration:none;
}
.titulo_sec {
font-size: 18px;
color: #000;
font-weight: bold;
margin-bottom: 5px;
 padding-top: 5px;
}
.sumarioh3 {
font-size: 12px;
color: #333;
position: relative;
}
.h5s {
/*color: #069;*/
color: #666;
float: left;
font-size: 12px;
}
.h6s {
font-size: 12px;
color: #666;
float: left;
}
.linea
{
border-right: 1px solid #cec9bc;
margin-left:8px;
margin-right:8px;	
float: left;
}
.h7s_catg
{
	float: left;
	 padding-top: 1px; text-transform: uppercase;
}
.readmore{font-weight:bold;}
.readmore A:link 		{ text-decoration: none;	color: #000;}
.readmore A:visited 	{ text-decoration: none;		color: #000;}
.readmore A:hover 	{ text-decoration: underline;	 	color: #4d4d4d;}
.readmore A:active 	{ text-decoration: none;		color: #000;}
.paginate {
	font-size: 12px;
}
a.paginate {
	border: 1px solid #000080;
	padding: 2px 6px 2px 6px;
	text-decoration: none;
	color: #000080;
}
a.paginate:hover {
	background-color: #000080;
	color: #FFF;
	text-decoration: none;
}
a.current {
	border: 1px solid #000080;
	font: bold 12px / Arial,Helvetica,sans-serif;
	padding: 2px 6px 2px 6px;
	cursor: default;
	background:#000080;
	color: #FFF;
	text-decoration: none;
}
span.inactive {
	border: 1px solid #999;
	font-size: 12px;;
	padding: 2px 6px 2px 6px;
	color: #999;
	cursor: default;
}
.categ {
color: #fcc419;
font-size: 32px;
font-weight: bold;
line-height: 30px;
line-height: 45px;
text-decoration: none;
}
.imagenesxpdetail img {
width: 660px;
height: 413px;
}
.divfondoarticle
{
	background-color:#eaeaea;
	border-bottom:1px solid #ccc;
	display:block;
}
.categ {
color: #fcc419;
font-size: 32px;
font-weight: bold;
line-height: 30px;
text-transform: capitalize;
line-height: 45px;
text-decoration: none;
}
.back {font-size:13px;}
.back A:link 		{ text-decoration: underline;	color: #ffad00;}
.back A:visited 	{ text-decoration: underline;		color: #ffad00;}
.back A:hover 	{ text-decoration: underline;	 	color: #036;}
.back A:active 	{ text-decoration: underline;		color: #ffad00;}
.categ {
color: #fcc419;
font-size: 32px;
font-weight: bold;
line-height: 30px;
text-transform: capitalize;
line-height: 45px;
text-decoration: none;
}
.tags { }
.tags h4 { color: #777; font: 14px/100% initial; margin-bottom: 10px; }
.tags h2 { display: inline-block;  font-size: 12px; margin: 0 5px 5px 0; *display: inline; zoom:1;}
.tags h2 a { background: #f3f3f3; color: #6b6b6b; display: block; padding: 8px; text-decoration: underline; }
.tags h2 a:hover { background: #f3f3f3; color: #6b6b6b; display: block; padding: 8px;text-decoration: none;  }
/* Compartir miniNota Home */
.compartirnota{  margin-top: 0px; margin-right: -6px; }
.compartirnota, .ln-flujo.ln-fotogaleria .compartirnota{margin-right: 0; }
.compartirnota span, .ln-flujo .compartirnota a{ cursor: pointer; display: inline-block; height: 16px; width: 16px; }
.ln-flujo .compartirnota a{ cursor: pointer; display: inline-block; height: 16px; width: 16px; }
.compartirnota .facebook{ background-position: 0 0px; }
.compartirnota .facebook:hover{ background-position: -16px 0px; }
.compartirnota .twitter{ background-position: 0 -16px; }
.compartirnota .twitter:hover{ background-position: -16px -16px; }
.compartirnota .gplus{ background-position: 0 -32px; }
.compartirnota .gplus:hover{ background-position: -16px -32px; }
.compartirnota .pinterest{ background-position: 0 -48px; }
.compartirnota .pinterest:hover{ background-position: -16px -48px; }
.sin_compartirnota
{
	widows:100%;
}
/******************************blog*************************************************/
.categ_title
{
font-size: 26px;
margin-top: 8px;
margin-bottom: 8px;
border-bottom: solid 0px #2f2f2f;	
}
.entry-date {
display: block;
text-align: center;
padding: 8px 0;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.entry-date a
{
	color:#FFF;
	text-decoration:none;
}
.entry-date-day {
display: block;
font-size: 35px;
line-height: 32px;
padding-bottom: 10px;
}
.entry-date-month-year {
display: block;
font-size: 12px;
line-height: 12px;
}
.entry-title {
font-size: 20px;
margin-bottom: 8px;
text-transform: uppercase;
border-bottom: solid 0px #2f2f2f;
}
.entry-title a
{
	text-decoration:none;
	color:#000;
}
.entry-title a:hover
{
	text-decoration:none;
	color:#4d4d4d;
}
/******************************blog*************************************************/
/*BLOG STYLES*/
.contenedor_interno {
	width: 100%;
	margin: auto;
	height: auto;
}
#full-container{
width:100%;
}
#post{
	background:#fff;
	width:100%;
	padding:10px;
	margin-top:10px;
	margin-bottom:20px;
}
#blog{
	position:relative;
	width:100%;
}
#blog hr{
	border:0;
	height:1px;
	width:100%;
	float:left;
}
._hr_b
{
	border:0;
	height:1px;
	width:100%;
	float:left;
}
.contenidointerno .blogtitle{
	width:100%;
	height:auto;
}
.contenidointerno .blogtitle a{
	color:#444;
	text-decoration:none;
}
.contenidointerno .blogtitle a:hover{
	color:#033d62;
	text-decoration:underline;
}
.contenidointerno .blogtitle p{
	color:#444;
	width:98%;
	padding-left:0;
	text-align: justify;
	margin-top:5px;
	padding:0;
	width:50%;
	float:left;
}
.contenidointerno .blogtitle p.comments{
	float:right;
	width:50%;
	text-align:right;
}
.readmore{
display: block;
width: 100px;
/* background: #033d62; */
text-align: center;
border: 3px solid rgb(115, 115, 115);
text-decoration: none;
padding: 7px;
color: #999;
border-radius: 7px;
margin-bottom: 10px;
}
.readmore:hover{
	color:#073984;
	border: 3px solid rgb(10, 70, 170);
}
.blogcontainer{
	position:relative;
	  -webkit-transition: all 1s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.blogcontainer iframe#youtube{
	width: 678px;
	height: 400px;
	float: left;
	left: 34px;
	position: relative;
}
.blogcontainer img{
	position:relative;float:right;
	-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.blogcontainer img:hover{
	-webkit-filter: grayscale(70%);
	-webkit-box-shadow: inset 0px 0px 15px 6px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px 0px 15px 6px rgba(50, 50, 50, 0.75);	
    box-shadow:         inset 0px 0px 15px 6px rgba(50, 50, 50, 0.75);
}

.contenidointerno .blogdate{
	position:absolute;
	top:5px;
	left:-8px;
	width:42px;
	padding-left:10px;
	height:83px;
	display:block;
	margin:0;
	padding:0;
	color:rgb(200, 200, 200);
	text-align:center;
	margin:0;
	padding:0;
}
.contenidointerno .bloglikes{
	position: absolute;
	padding-top: 23px;
	top: 143px;
	left: -13px;
	width: 42px;
	padding-left: 10px;
	height: 83px;
	display: block;
	margin: 0;
	text-align: center;
	  -webkit-transition: all 1s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.contenidointerno .bloglikes a{
	text-decoration:none;
	position:absolute;
	left:21px;
	float:left;
	color:#444;
}
.contenidointerno .bloglikes p{
	text-align: center;
	color: #999;
	display: block;
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
	margin-top:5px;
}.contenidointerno .blogdate h1{
	font-size:46px;
	border-bottom:1px solid #ccc;
	color:#ff9900;
	margin:0;
	padding:0;
}
._blogdate {
	font-size:46px;
	border-bottom:1px solid #ccc;
	color:#ff9900;
	margin:0;
	padding:0;
	list-style:none;
	position: relative;
	width:69%;
	padding:0;
	margin:0;
	display:table;
	height:35px;
	float:left;
}



.contenidointerno blockquote{
	background: #efefef;
	font-style: italic;
	font-size: 18px;
	color: #666;
	width: 98%;
	padding-right: 12px;
	text-align: justify;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right:0;
	margin-left:37px;
}
.contenidointerno .pagination{
	position:relative;
	margin:auto;
	display:table;
	margin-bottom:18px;	
}
.contenidointerno .pagination ul{
	list-style:none;
	float:left;
	margin:0;
	padding:0;
	width:auto;
}
.contenidointerno .pagination ul li{
	margin: 0;
	padding: 0;
	height: 25px;
	background: #f2f6f8; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
	color:#666;
	height: 35px;
	text-align: center;
}
.contenidointerno .pagination ul li a{
	text-decoration:none;
	color:#fff;
	height: 35px;
	width: 25px;
	line-height:35px;
	display:block;
	float: left;
}
.contenidointerno .pagination ul li a:hover{
	text-decoration:none;
	background: #3b679e; /* Old browsers */
	background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	color:#fff;
	height: 35px;
	width: 25px;
	line-height:35px;
}
.contenidointerno .pagination ul li.first{
	-webkit-border-top-left-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-bottomleft: 8px;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
border-right:1px solid #ccc;
display:block;
}
.contenidointerno .pagination ul li.first a:hover{
-webkit-border-top-left-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-bottomleft: 8px;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
}
.contenidointerno .pagination ul li.last{
	-webkit-border-top-right-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
-moz-border-radius-topright: 8px;
-moz-border-radius-bottomright: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
order-left:1px solid #ccc;
}
.contenidointerno .pagination ul li.last a:hover{
-webkit-border-top-right-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
-moz-border-radius-topright: 8px;
-moz-border-radius-bottomright: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
}
.contenidointerno .pagination ul li.active{
background: #3b679e; /* Old browsers */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 48%, #207cca 48%, #2989d8 51%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(48%,#207cca), color-stop(48%,#207cca), color-stop(51%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 48%,#207cca 48%,#2989d8 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1e5799 0%,#207cca 48%,#207cca 48%,#2989d8 51%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 48%,#207cca 48%,#2989d8 51%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1e5799 0%,#207cca 48%,#207cca 48%,#2989d8 51%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.contenidointerno .pagination ul li.active a{
	color:#fff;
}
.box .tagcloud{
	float:left;
	color:#444;
}
.box .tagcloud a{
	color:#444;
	text-decoration:none;
}
.box .tagcloud a:hover{
	text-decoration:underline;
}
.box form{
	padding-bottom:10px;
	padding-top:10px;	
}
.box ul{
	padding-left:10px;
	list-style:square;
}
.box ul li{
	font-size:12px;
	color:#444;
	margin-bottom:5px;
}
.box ul li a{
	text-decoration:none;
	color:#444;
	font-size:12px;
}
.box ul li span.date{
	color:#ff9900;
	font-size:12px;
}
.box ul li a:hover{
	text-decoration:underline;
}
.box form input{
	width:72%;
	border-radius:3px;
	border:0;
	border: 1px solid #ccc;
	padding-left:5px;
	outline:0;
	height:28px;
	border-radius:5px;
}
.box form button{
	float:right;
	width:20%;
	margin-left:3%;
	height:28px;
	border:0;
	border-radius:5px;
}
.box form button:onclick{
	outline:0;
}
.box form select{
	width:100%;
	height:28px;
	border-radius:5px;
	border:1px solid #ccc;
	color:#444;
}
.box {
	background-color: #FFF;
	margin-top: 10px;
	padding-top: 10px;
	border: solid 1px #ccc;
	padding-left: 10px;
	padding-right: 10px;
	/* [disabled]margin-bottom: 10px; */
	/* [disabled]overflow-x: scroll; */
	/* [disabled]overflow-y: hidden; */
}
.contenedor-box {
	width:218;
	overflow-x: visible;
	overflow-y: hidden;
	margin-bottom:5px;
	text-align:center
}
.box p{
	font-size: 11px;
	color: #FFF;
	font-weight: 800;
	margin-top: 0px;
	margin-left: 15px;
	/* [disabled]text-align: center; */
}
.box img {
	margin-top: 5px;
	margin-bottom: 3px;
	/* [disabled]text-align: center; */
}
.box .btn {
	margin: 0 0 0 0;
	text-align:center;
}
#subtitulo {
	font-size:18px;
	color:#ff9900;
	margin-top:0px;
	margin-bottom:4px;
}
.boton {
	width:86px;
	height:20px;
	padding-top:3px;
	color:#FFF;
	font-size:10px;
	text-align:center;
	font-weight:bold;
	float:left;
	text-align:center;
	vertical-align:middle;
}
.caption_title {
background: #fff;
color: #444;
box-shadow: 0 0 6px rgba(255, 255, 255, 4) inset;
display: inline-block;
font: 20px/32px initial;
margin-top: 10px;
margin-bottom: 10px;
padding: 0 10px; 
text-transform: uppercase;
min-width: 100%;
}
.art_comment {
background: #d9f2dd;
color: #000; 
border:1px solid #d8e6cc;
font-size:14px;
margin:8px;
padding:  10px; 
border-radius: 3px;
box-shadow: 0px -5px 15px -14px rgba(102,102,102,.9) inset;
text-align:center;
}

/************************************************************************/
/************************************************************************
comentarios 
************************************************************************/
/************************************************************************/
    *:focus  {  outline: none;  }
    .profile_picture {
        padding: 5px 0px 0px 0px;
        border: 1px solid;
        width: 50px;
        text-align: center;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 30px;
    }
    .profile_picture img {
        max-width: 68px;
        max-height: 68px;
    }
    .com_title
    {
        font-size: 13px;
        font-weight: bold;
        margin: 0 0 5px;
        font-family:Arial, Helvetica, sans-serif;
    }
    .com_descrip
    {
        font-size: 12px;
        font-family:Arial, Helvetica, sans-serif;   
    }
    ul.appc-opts {
        list-style: none;
        margin: 6px 0 0 6px;
        padding: 0;
        height: 20px;
        line-height: 20px;
    }
    ul.appc-opts li {
        float: left;
        font-size: 12px;
        padding: 0 8px 0 0;
        margin: 0 8px 0 0;
        border-bottom: 0;
        color: #999;
        background: none;
        position: relative;
        border-right: 1px solid #DFDFDF;
    }
    .caption-comments {
        background: #f3c700;
        color: #000; 
        /*box-shadow: 0 0 6px rgba(255, 255, 255, 4) inset;*/
        display: inline-block;
        padding:6px;
        text-transform: uppercase;
        min-width: 200px;
        border-radius: 3px;
        box-shadow: 0px -5px 15px -14px rgba(102,102,102,.9) inset;
        font-weight:bold;
    }
    .ico-date {
        font-size: 12px;
        color: #999;
        background: none;
        font-family: dinpro;
        padding:4px;
    }
    .ico-comm  {
        float:left;
        background: url(img/app-ico-a.png) no-repeat;
        height: 16px;
        width:20px;
        background-position:  0px -24px;
    }
    .ico-reply a {;
        height: 16px;
        padding:2px;        
        font-size:12px;
        color:#6698cb;
    }
    .ico-reply a span { color:#0657ab;}
    .ico-reply a:hover span { color:#6698cb;}
    .ico-reply a:hover {color:#0657ab;}
    .ico-like a {
        height: 15px;
    }
    .ico-like a i{color: #66bd66;}
    .ico-like a:hover i{color: #2da42d;}
    .ico-like span { margin-left:0px;}
    .ico-unlike a { height: 16px; }
    .ico-unlike a i { color: #eb6e77;}
    .ico-unlike a:hover i { color: #df1a28;}
    .ico-unlike span { margin-left:0px; }
    .btn-post-comm {
        border      : 1px solid #999999;
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #e4e4e3 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e4e4e3)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#e4e4e3 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffffff 0%,#e4e4e3 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffffff 0%,#e4e4e3 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffffff 0%,#e4e4e3 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e3',GradientType=0 ); /* IE6-9 */
        font-size: 11px;
        height: 25px;
        line-height: 0px;
        border-radius: 0px;
        color: #333333;
        cursor:pointer;
        -webkit-appearance: none;
        font-weight:bold;
        font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    }
    .btn-post-comm:hover
    {
    border      : 1px solid #3b5998;
    background: #6d84b4; /* Old browsers */
    background: -moz-linear-gradient(top,  #6d84b4 0%, #6d84b4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d84b4), color-stop(100%,#6d84b4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6d84b4 0%,#6d84b4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6d84b4 0%,#6d84b4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6d84b4 0%,#6d84b4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #6d84b4 0%,#6d84b4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d84b4', endColorstr='#6d84b4',GradientType=0 ); /* IE6-9 */
    font-size: 11px;
    height: 25px;
    line-height: 0px;
    border-radius: 0px;
    color: #fff;
    }
    .campos_descrip{
        border      : 1px solid #BDC7D8;
        padding     : 5px;
        font-family : tahoma;
        font-size   : 12px;
        height:50px;
        width:100%;
        -webkit-appearance: none;
        border-radius: 0px;
    }
    .campos_descrip:focus { 
    box-shadow:0px 0px 0px 2px rgba(59, 89, 152, 0.1);
 border-color:#899bc5;
 background-color:#FFF;
    }
    .id_soc
    {
        padding-top:4px;
        padding-bottom:4px;
    }
    .profile_picture.image-reply {
        width: 30px;
        font-size: 20px;
        margin-left: 40px;
        padding: 3px 0px 0px 0px;
    }
    #commentAdd {background: #6d84b4; color:#fff; border-color: #3b5998;}
    #commentAdd:Hover {background: #3b5998;}
ul.menu-comments{
    list-style: none;
    margin:20px 0px ;
}
.menu-comments li{
    display:inline-block;
    padding:5px 10px ;
    border:1px solid ; 
    margin:0px !important;
}
.menu-comments li:hover{
    cursor:pointer;
    background:#eee;
    color: #000;
}