@charset "utf-8";
/* CSS Document */


.barratoptop { 

 background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-8 */

height:42px; background-color:#4B4B4B;

}
.toptopinfo {
	width:1000px;
	margin:auto;
	color: #FFF;
	position: relative;
}

.toptopinfo ul { margin:0px; padding:0px}
.toptopinfo ul li { float:left; list-style:none; }
.toptopinfo ul li a { padding:0 12px; height:42px; display:block; color:#FFF; text-transform:uppercase; font-weight:bold; text-decoration:none; font:14px/40px Arial, Helvetica, sans-serif; font-weight:bold}
.toptopinfo ul li a:hover {
	background: rgb(44,166,222);  
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
 background: -moz-linear-gradient(top,  rgba(44,166,222,1) 0%, rgba(28,105,200,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,166,222,1)), color-stop(100%,rgba(28,105,200,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(44,166,222,1) 0%,rgba(28,105,200,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(44,166,222,1) 0%,rgba(28,105,200,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(44,166,222,1) 0%,rgba(28,105,200,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(44,166,222,1) 0%,rgba(28,105,200,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ca6de', endColorstr='#1c69c8',GradientType=0 ); /* IE6-8 */

}
.actual {background: rgb(44,166,222);  
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
 background: -moz-linear-gradient(top,  rgba(44,166,222,1) 0%, rgba(28,105,200,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,166,222,1)), color-stop(100%,rgba(28,105,200,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(44,166,222,1) 0%,rgba(28,105,200,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(44,166,222,1) 0%,rgba(28,105,200,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(44,166,222,1) 0%,rgba(28,105,200,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(44,166,222,1) 0%,rgba(28,105,200,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ca6de', endColorstr='#1c69c8',GradientType=0 ); /* IE6-8 */}

#homeicono a {text-align:center; background-image:url(images/icons.png);  width:42px; float:left; display:block; height:42px; cursor:pointer}
#homeicono a:hover { background-position:0px -42px;}

#homeicono_actual a {text-align:center; background-image:url(images/icons.png); background-position:0px -42px;  width:42px; float:left; display:block; height:42px; cursor:pointer}

  




.ajam { clear:both}



#cuentaid {
	font: bold 13px  Arial, Helvetica, sans-serif;
	line-height: 1;
	width: 239px;
	position:absolute;
	right:125px;
	top:13px;
	color: #fff;
	text-align:right
}
#cuentaid:hover { color: #fff; }








#logoutbot {
  background-color: #ee432e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee432e), color-stop(50%, #c63929), color-stop(50%, #b51700), color-stop(100%, #891100));
  background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -ms-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  border: 1px solid #951100;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;

  font: bold 16px "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1;
  padding: 6px 0 8px 0;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
  width: 100px; position:absolute; right:12px; top:2px ;
    color: #fff;}
#logoutbot:hover {
    background-color: #f37873;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f37873), color-stop(50%, #db504d), color-stop(50%, #cb0500), color-stop(100%, #a20601));
    background-image: -webkit-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -ms-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -o-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    cursor: pointer; color: #fff; }
#logoutbot:active {
    background-color: #d43c28;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d43c28), color-stop(50%, #ad3224), color-stop(50%, #9c1500), color-stop(100%, #700d00));
    background-image: -webkit-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -ms-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -o-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4); color: #fff;  }



.barratop_info { width:98%; margin:auto}

.ui-carousel > .wrapper {
    margin: 0;
    padding: 0;
    width: 9999px;
}

.ui-carousel > .wrapper > * {
	border: 0;
	display: block;
	float: left;
	height: 100px;
	overflow: hidden;
	width: 100px;	
}

		#cat {
	width: 670px;
	position: relative;
			}
			
			#carousel {
	width: 680px;
	margin: 0 auto;
			}
			
			#ui-carousel-next, #ui-carousel-prev {
			
			 
	width: 68px;
	height: 44px;
 	display: block;
	position: absolute;
	top: 8px;
	z-index: 100; 

				
			}

			#ui-carousel-next {background-image: url(../images/icons.png); background-position:-134px -133px; 	right: 0;}
			
			#ui-carousel-prev {background: url(../images/icons.png); background-position:-134px -89px ;left: 0; }

		 
			
			#ui-carousel-next > span, #ui-carousel-prev > span {
				display: none;
			}
			
.cateoriasinf { 
	margin: 0;
	position: relative;
	font-size:16px;
	font-weight:bold;
	color:#FFF; overflow:hidden
			}
			
	.cateoriasinf a { text-decoration:none; display:block; padding:10px 12px; border-right:solid 1px #900; color:#FFF; font-family:Arial, Helvetica, sans-serif; line-height:23px;}	
	.cateoriasinf a:hover { color:#CCC}	 
			 

.contenidos {
	width:1000px;
	margin:auto;
	position: relative;
	height: 624px;
}
.blocka {
	width:670px;
	margin-right:auto;
}
 
 .selectable  { color:#385386; text-shadow: #FFF 0px -2px 2px; text-align:center; padding:12px; margin:0px; font-size:36px; font-weight:bold}

.blocka h2 a {
	display:block;
	width:152px;
	height:122px;
	border:solid 1px #B7B9BD;
	background-color: #FFF;
	margin:6px;
	float:left;
	font:76px "Arial Black", Gadget, sans-serif;
	font-weight:bold;
	text-align:center;
	color: #6C747B;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	text-decoration:none;
	text-shadow: #FFF 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.0976563) 0px 6px 1px, rgba(0, 0, 0, 0.0976563) 0px 0px 5px, rgba(0, 0, 0, 0.296875) 0px 1px 3px, rgba(0, 0, 0, 0.199219) 0px 3px 5px, rgba(0, 0, 0, 0.246094) 0px 5px 10px, rgba(0, 0, 0, 0.199219) 0px 10px 10px;
}
 .blocka h2 a:hover { color:#333}
 
 .platos {
	padding-top:8px
}
.platos ul { margin:0px; padding:0px;}
 .platos ul li {
	list-style:none;
	float:left;
	margin:4px 10px;
	position:relative
}
 .platos ul li a {
	border:solid 2px #B7B9BD;
	background-color:#FFF;
	padding:7px;
	width: 185px;
	display: block;
	height: 134px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
 .platos ul li a img { border:none;
 -webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;}
 
 #plato_info {
	position:absolute;
	height:28px;
	background-color:#333;
	left: 9px;
	top: 111px;
	width: 185px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	color: #FFF;
	padding: 4px 0 0 0;
	font-weight: bold;
}
#zoom_imagen {
	position:absolute;
	width:43px;
	height:44px;
	background-image:url(images/icons.png);
	background-position:0px -363px;
	left: 0px;
	top: 0px; background-color:transparent !important; border:none; font-size:1px; text-decoration:none; color:#DFE2E7;
	padding:0px !important;
}
#favoritos {
	position:absolute;
	width:22px;
	height:25px;
	background-image:url(images/icons.png);
	background-position:0px -407px;
	right: 3px;
	top: 4px;
	background-color:transparent !important;
	border:none;
	font-size:1px;
	text-decoration:none;
	color:#FFF;
	padding:0px !important;
}
 
 .boxizq {
	width:395px;
	float:left;
	margin: 0px 10px 15px 5px;
}
 .boxder {
	width:222px;
	height:86px;
	float:left;
	background-color:#FFF;
	border:solid 1px #B7B9BD;

	padding: 12px;
	display: block;
	margin: 12px 0;
}
.curva12 {	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;}
 .buscabox {
	width:355px;
	padding:8px 15px;
	border:solid 1px #CCC;
	font-size:17px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-moz-box-shadow:inset 0px 1px 5px #000000;
	-webkit-box-shadow:inset 0px 1px 5px #000000;
	box-shadow:inset 0px 1px 5px #000000;
}



.botonesas {
	padding-top:10px;
}
.botonesas ul { margin:0px; padding:0px}
  

.botonesas li { list-style:none; margin-right:6px; float:left; border: 1px solid #172d6e;
  border-bottom: 1px solid #0e1d45;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #b1b9cb;
  -moz-box-shadow: inset 0 1px 0 0 #b1b9cb;
  box-shadow: inset 0 1px 0 0 #b1b9cb;
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9B9B9B), color-stop(50%, #696969), color-stop(50%, #4F4F4F), color-stop(100%, #545454));
  background-image: -webkit-linear-gradient(top, #9B9B9B 0%, #696969 50%, #4F4F4F 50%, #545454 100%);
  background-image: -moz-linear-gradient(top, #9B9B9B 0%, #696969 50%, #4F4F4F 50%, #545454 100%);
  background-image: -ms-linear-gradient(top, #9B9B9B 0%, #696969 50%, #4F4F4F 50%, #545454 100%);
  background-image: -o-linear-gradient(top, ##9B9B9B 0%, #696969 50%, #4F4F4F 50%, #545454 100%);
  background-image: linear-gradient(top, #9B9B9B 0%, #696969 50%, #4F4F4F 50%, #545454 100%);
   background-color: #545454;
   width: 90px;}
.botonesas a { color:#8999BD; position:relative; display:block; font-size:1px; text-decoration:none; text-align:center; width: 90px; height:55px;
background-image:url(images/icons.png); 
 }
 
 .botonesas li:hover {
  
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7f8dad), color-stop(50%, #4a5e8c), color-stop(50%, #2f477d), color-stop(100%, #364c80));
    background-image: -webkit-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
    background-image: -moz-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
    background-image: -ms-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
    background-image: -o-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
    background-image: linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
    cursor: pointer;
	  background-color: #7f8dad; }

	
 .list {background-position:0px -84px;}
 .favs {background-position:0px -140px;}
 .freeitem {background-position:0px -194px;}
 .moreitem {background-position:0px -251px;}
 
 /* INICIO LATERAL */
 #lateral {
	position:absolute;
	left: 679px;
	top: -52px;
	width: 315px;
	height: 673px;
	background-color: #FFF;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0px 0px 14px #000000;
	-webkit-box-shadow: 0px 0px 14px #000000;
	box-shadow: 0px 0px 14px #000000;

}
.sidetotal { height:51px;


background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(224,224,224,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(224,224,224,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(224,224,224,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(224,224,224,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-8 */




-webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-topright: 8px;
border-top-left-radius: 8px;
border-top-right-radius: 8px; border-bottom:solid 1px #CCC;


} 
.sidecontent {
	padding:25px;
}
 #lateral ul { margin:0px; padding:0px;}
#lateral ul li {
	list-style:decimal;
	margin-left: 20px;
}

.itemsdes {
	position:relative;
	color: #385285;
	font-weight: bold;
	font-size: 17px;
	padding: 8px 0;
}
.itemsdes a { color: #385285; text-decoration:none;padding: 8px 0;}
	
	
#itemsdes_precios {
	position:absolute;
	right:0px;
	top: 7px;
}
 
 
 
 button.completeorder {
  background-color: #759ae9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #759ae9), color-stop(50%, #376fe0), color-stop(50%, #1a5ad9), color-stop(100%, #2463de));
  background-image: -webkit-linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  background-image: -moz-linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  background-image: -ms-linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  background-image: -o-linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  background-image: linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  border-top: 1px solid #1f58cc;
  border-right: 1px solid #1b4db3;
  border-bottom: 1px solid #174299;
  border-left: 1px solid #1b4db3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  -moz-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  color: #fff;
  font: bold 18px "helvetica neue", helvetica, arial, sans-serif;
  padding: 11px 0;
  
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
  width: 100%; }
  button.completeorder:hover {
    background-color: #5d89e8;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5d89e8), color-stop(50%, #2261e0), color-stop(50%, #044bd9), color-stop(100%, #0d53de));
    background-image: -webkit-linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
    background-image: -moz-linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
    background-image: -ms-linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
    background-image: -o-linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
    background-image: linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
    cursor: pointer; }
  button.completeorder:active {
    border-top: 1px solid #1b4db3;
    border-right: 1px solid #174299;
    border-bottom: 1px solid #133780;
    border-left: 1px solid #174299;
    -webkit-box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
    -moz-box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee; }

 
 .tablenumber {
	background-image:url(images/icons.png);
	width:65px;
	height:38px;
	background-position:0px -325px;
	margin: 7px 7px 7px 12px;
	display: block;
	font-size: 24px;
	color: #FFF;
	padding: 0 6px;
	line-height: 1.5em;
}
 
 .montototal {
	font-size:26px;
	font-weight:bold;
	color:#036;
	margin:0px;
	text-align: right;
	padding-right: 25px;
}
