.btn{padding: 6px 12px;}
@media (min-width: 1200px){
  .container {
    max-width: 1170px;
    width: 100%;
  }
}
.navbar-default .navbar-nav>li>a, 
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:active , 
.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}
.navbar-default .navbar-nav .dropdown-menu>li>a{color:#333!important;}

.botoneditwc {
    z-index: 1;
}
.sidebar-nav li.actualnav>a, .sidebar-nav li.actualnav>a:focus, .sidebar-nav li.actualnav>a:hover {
    color: #fff;
    background-color: #337ab7;
    border-radius: 0px;
}
.sidebar-nav li a:hover,
.sidebar-nav li.acualsubnav a {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: red 2px solid;
    border-radius: 0px;
}
.navbar-toggle {
    padding: 5px 8px;
}
/*inicio dropdown-menu-large*/
.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
  white-space: initial;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}


/*fin dropdown-menu-large*/
aside {
    width: 250px;
    background-color: #f9f9f9;
    position: relative;
    overflow: hidden;
    height: 100%;
}
#page-content-wrapper{
	margin-top:50px;
}
iframe#TB_iframeContent{width:410px !important;}
a, .thickbox, .addbtn {
    text-decoration: none;
}
.lateral-web-content{
	border-right: 1px solid #e8e8e8;
	background-color: #f9f9f9;
}
.genial_menu ul {
    display: block;
}
/*custom kolorPicker*/
#kolorPicker{ width: 302px !important;}
div.x-close-box{padding-bottom: 15px !important;}
div.kolorpicker-palette ul li { height: 20px !important;}
footer {
    padding: 15px;
    color: #666;
    position: relative;
    width: 100%;
    bottom: 0;
    padding-top: 50px;
    padding-left: 100px;
    border-top: 0px;
}
footer table {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#fff);
    background-image: -moz-linear-gradient(top,#f5f5f5,#fff);
    border-collapse: collapse;
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
    padding-top: 25px;
    padding-right: 50px;
}
#resize, #resize2 { background: #8a8a8a !important; }
#TB_window { border-color: #3a3633 !important; top: 20% !important;} 
#TB_title {
    background-color: #999999;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/*LOGIN*/
.bg-dark {
    background-color: #343a40!important;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}
.mt-5, .my-5 {
    margin-top: 10rem!important;
    margin-bottom: 10rem!important;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-login {
  max-width: 30rem;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
  font-size: 24px;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    padding: 30px 20px;
}
footer.footer-index-login table{left: 0;}
footer.footer-index-login p{margin: 0;}
footer.footer-index-login table .class_version {margin-right: 50px;}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;  
}

input:checked + .slider {
  background-color: #2196F3;
}


input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.metasOp{
  border: 1px solid #ccc;
  padding: 10px 5px;
  margin: 10px;
}
.metasOp:hover {cursor: pointer;}
.table thead tr {
    background-color: #eee;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#fafafa));
    background-image: -webkit-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -moz-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -ms-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -o-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    font-size: 12px;
}
div#contenido {min-height: 565px;}
.class_version {margin-right: 150px;}


.slider-range {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider-range:hover {opacity: 1;}
.slider-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #000;
  cursor: pointer;
}

.slider-range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
.value-range{
  font-weight: 600;
  font-size: 12px;
  color:#000;
  margin-bottom: 5px;
}
.overlay::-webkit-slider-thumb {background: transparent url('../images/overlay.png') center no-repeat;}
.overlay::-moz-range-thumb {background: transparent url('../images/overlay.png') center no-repeat;}
.embed-responsive-16by9 {
  padding-bottom: 0%; 
}