.editor-container
{
    position: relative;
    width: 100%;
    display: flex;
    flex: initial;
    left: -30px;
    margin-top:10px;
    text-align: center;
}
.btn-editar{
    position: absolute;
    top: 0;
    color: #2ecc71;
    opacity: 0.9;
    font-size: 14px;
    height: 26px;
    width: 26px;
    border: 1px solid #2ecc71;
    border-radius: 50%;
    padding: 2px 6px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.btn-editar:hover{color: #009800;opacity: 1; font-size: 14px; padding: 2px 6px;}