 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

#wrapper.toggled {
    padding-left: 100px;
    overflow: hidden;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0px;
    top: 50px;
    width: 0;
    height: 100%;
    margin-left: 0px;
    overflow-y: auto;
    background: #3a3633;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 100px;
}


.xyz{
    min-width: 360px;
    padding-right: 0px;
    padding-left: 0px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; 
}
.fixed-brand{
    width: auto;
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0px;
    width: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}

.sidebar-nav li {
    line-height: 40px;
    border-bottom: 1px solid #484545;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
    text-align: center;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: red 2px solid;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 100px;
    }
    .fixed-brand{
        width: 100px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 100px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 100px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 100px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 100px;
    }


    #page-content-wrapper {
        padding:  0px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 100px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: 0px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;

    }
}
.dropdown-lateral-menu{
	display: none; list-style-type: none;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        height: auto;
}
.dropdown-lateral-menu-open{
	display: block;

        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;}
#navTop{
	background: #000;
	border-radius: 0px;
	border: 0px;
	color: #fff;
}        

ul#menu li a span {
    display: block;
    margin: 0 auto;
    height: 1em;
}