@charset "utf-8";


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, caption, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100% ;vertical-align: baseline;} 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body,td,th {font-family: Arial, Helvetica, sans-serif;font-size: 13px;}
*:focus {
    outline: 0;
}

.clr {clear:both} 
hr
{
	background-color:#999; height:1px; border:0px;
}
a, #resize, #resize2, #lateral ul li {text-decoration:none; 
/*	-webkit-transition: background 0.5s ease, color 1s ease, box-shadow 0.5s ease-out;
 	-moz-transition: background  0.5s ease, color 1s ease, box-shadow 0.5s ease-out;
  	-o-transition: background  0.5s ease, color 1s ease, box-shadow 0.5s ease-out;
  	-ms-transition: background  0.5s ease, color 1s ease, box-shadow 0.5s ease-out;
  	transition: background  0.5s ease, color 1s ease, box-shadow 0.5s ease-out ;*/
 }
/*.opacity { opacity: .5; filter: alpha(opacity=50)}*/

 
 ol, ul, li { margin:0px; padding:0px}
 ul {list-style: none;}
 
 

/*******************************/
/********  HOME PAGE CSS  ******/
/*******************************/

*html { height:100% }

body, html { height:100%;}

header { height:55px; position:relative;
/*background-image: linear-gradient(bottom, rgb(52,52,52) 0%, rgb(79,79,79) 100%);
background-image: -o-linear-gradient(bottom, rgb(52,52,52) 0%, rgb(79,79,79) 100%);
background-image: -moz-linear-gradient(bottom, rgb(52,52,52) 0%, rgb(79,79,79) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(52,52,52) 0%, rgb(79,79,79) 100%);
background-image: -ms-linear-gradient(bottom, rgb(52,52,52) 0%, rgb(79,79,79) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(52,52,52)),
	color-stop(1, rgb(79,79,79))
);
background-color:#fff;

*/
}


header h1 {padding: 10px 0 0 25px;}
/*
header h1 a {
	height: 30px;
	display: block;
	font-size: 0px;
	color: #CCC;
	padding: 12px 0 0 12px;
	background: url(../images/logo.png) no-repeat 0 0;
	width: 177px;
	
}
*/
header .headmenu { text-align:right; position:absolute; right:10px; top:0px; color:#666}
header .headmenu a { display:inline-block; padding:17px 6px; color:#069 }
header .headmenu a:hover { color:#09C}






/**** Top Menu *********/

#topmenu { position: absolute; top:12px; right:25px;}

/* Login Button */
.topnav { 
  color: #ffffff;
  font-size: 12px;
  padding: 6px 9px;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: solid #000 1px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#202020), to(#2D2D2D));
  background: -moz-linear-gradient(top, #202020, #2D2D2D);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#202020, endColorStr=#2D2D2D);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#202020, endColorStr=#2D2D2D);
  display:inline-block; /* IE is so silly */
}




#submenubtn { cursor:pointer}
#submenubtn span {
    padding:7px 29px 9px 9px;
    background:url(../images/sbarrows.png) no-repeat right 7px;
}

#submenubtn:hover {
	 background: -webkit-gradient(linear, 0 0, 0 100%, from(#4B4B4B), to(#343434));
  background: -moz-linear-gradient(top, #4B4B4B, #343434)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#202020, endColorstr=#2D2D2D);

}


#submenubox {
    position:absolute;
    top:42px;
    right:102px;
    display:none;
    z-index:29;
	
	width: auto; 
    border:1px solid #899caa;
    border-radius:8px 0 8px 8px;
    -moz-border-radius:8px 0 8px 8px;
    margin-top:-1px;
    background:#FFF;
    padding:15px 0;
	
-moz-box-shadow: 1px 1px 20px #1a1a1a;
-webkit-box-shadow: 1px 1px 20px #1a1a1a;
box-shadow: 1px 1px 20px #1a1a1a;
}

.sbarrow { background-image:url(../images/submenuarrow.png); width:23px; height:11px; position:absolute; top:-10px; right:15%;}

#submenubox ul li a { display:block; padding:8px 30px; color:#333; font-size:12px;}
#submenubox ul li a:hover {
	color: #000;
	background-color: #E5E5E5
}
/* If the Login Button has been clicked */    
#submenubtn.active {
    border-radius:3px 3px 0 0;
}

#submenubtn.active span {
    background-position:right -76px;
}

 
 











.red {height:40px;}


#menug { height:40px; background-image: url(../images/bgnav.png); background-repeat:repeat-x}







/* Mega Menu Styles */
.mega-menu ul {position: relative; display:none}



.mega-menu ul li ul {display: none;}
.mega-menu .sub {display: none;}
.mega-menu .sub ul {display: block;}


.mega-menu ul {position: relative; padding: 0; margin: 0;}
.mega-menu ul li ul {display: none;}
.mega-menu .sub {display: none;}
.mega-menu .sub ul {display: block;}


.red ul.mega-menu, .red ul.mega-menu, .red ul.mega-menu li {margin: 0; padding: 0; border: none;}
.red ul.mega-menu {
	width: 100%;
	height: 40px;
	position: relative;
}
.red ul.mega-menu li {float: left; margin: 0; padding: 0; font-size: 14px; font-weight: bold; height:40px;}
.red ul.mega-menu li a {float: left; display: block; color: #fff; line-height:40px; padding: 0px 15px; height:40px;  border-right:solid 1px #2561B6; border-left:solid 1px #689EC8}
.red ul.mega-menu li a.dc-mega {position: relative; padding: 0px 30px 0px 15px;}
.red ul.mega-menu li a .dc-mega-icon {
	display: block;
	position: absolute;
	top: 18px;
right: 10px;
	width: 8px;
	height: 6px;
	background: url(../images/arrow.png) no-repeat 0 0;
}
.red ul.mega-menu li.mega-hover a, .red ul.mega-menu li a:hover {color: #DDD; text-shadow: none;
;}



#menug .red .mega-menu .mega-hover, #menug .actualnav { position:relative; background-image:url(../images/bgnav.png); background-repeat:repeat-x; background-position:bottom; }


.red ul.mega-menu li.mega-hover a .dc-mega-icon {background-position: 0 100%;}
.red ul.mega-menu li .sub-container {
	position: absolute;
	top: 41px !important; width:300px !important; 
	
}
.red ul.mega-menu li .sub { background-color:#FFF; padding:12px; -moz-box-shadow: 1px 1px 20px #1a1a1a;
-webkit-box-shadow: 1px 1px 20px #1a1a1a;
box-shadow: 1px 1px 20px #1a1a1a;

-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}
.red ul.mega-menu li .sub-container.mega .sub {}
.red ul.mega-menu li .sub .row {width: 100%; overflow: hidden; clear: both;}
.red ul.mega-menu li .sub li {list-style: none; float: none; width: 170px; font-size: 1em; font-weight: normal;}
.red ul.mega-menu li .sub li.mega-hdr {float: left;}
.red ul.mega-menu li .sub li.mega-hdr.last {margin-right: 0;}
.red ul.mega-menu li .sub a {background: none; border: none; text-shadow: none; color: #111; padding: 7px 10px; display: block; float: none; text-decoration: none; font-size: 0.9em;}
.red ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a {
	padding: 5px 5px 5px 15px;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
}
.red ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a:hover {color: #000; text-shadow: none;}
.red ul.mega-menu .sub li.mega-hdr li a {padding: 4px 5px 4px 20px; background: url(../images/arrow_off.png) no-repeat 5px 8px; font-weight: normal;}
.red ul.mega-menu .sub li.mega-hdr li a:hover {color: #a32403; background: #efefef url(../images/arrow_on.png) no-repeat 5px 8px;}
.red ul.mega-menu .sub ul li {padding-right: 0;}
.red ul.mega-menu li .sub-container.non-mega  { left:0px !important; width:auto !important}
.red ul.mega-menu li .sub-container.non-mega li {padding: 0; width: 190px; margin: 0; height:30px !important;}
.red ul.mega-menu li .sub-container.non-mega li a {padding: 0px 5px 0px 22px !important; background: url(../images/arrow_off.png) no-repeat 7px 12px; line-height:30px; height:30px !important;}
.red ul.mega-menu li .sub-container.non-mega li a:hover {color: #000; background: #efefef url(../images/arrow_on.png) no-repeat 10px 12px;}

.red ul.mega-menu .acualsubnav {color: #000; background: #efefef none no-repeat 10px 12px;}



.homeicon { background-image:url(../images/icons/home.png); background-repeat:no-repeat; background-position: 28px 8px; width:70px;  }
.homeicon a {font-size:0px; width:38px; }

.menuicon1 { background-image:url(../images/icons/Cog.png); background-repeat:no-repeat; background-position: 5px 7px; }

.menuicon1 a, .menuicon2 a, .menuicon3 a {padding:0px 35px 0px 37px !important;}


.menuicon2 a { background-image:url(../images/icons/alert_2.png); background-repeat:no-repeat; background-position: 6px 7px; }


.menuicon3 a  { background-image:url(../images/icons/Archive.png); background-repeat:no-repeat; background-position: 7px 8px; }
















#resize, #resize2 {
display:block;
position:absolute;
top:0px; right:0px; text-align:center; 
background: #4884CA;
border-right: 1px solid #ddd;
border-left: 1px solid #c8c8c8;
-webkit-box-shadow: -1px 0 3px rgba(0,0,0,.2);
-moz-box-shadow: -1px 0 3px rgba(0,0,0,.2);
box-shadow: -1px 0 3px rgba(0,0,0,.2);
cursor: w-resize;
height: 100%;

width: 10px;
}
#resize { color:#FFF} #resize:hover {background-color: #999}
#resize2 { display:none; width:15px; color:#FFF} #resize2:hover { background-color:#CCC}

aside { width:230px; background-color:#f9f9f9;  position:relative; overflow:hidden; height:100%;}

section {
	width: 100%;
	background-color: #FFF
}

#lateral { padding:20px 0; line-height:18px; height:100%;}

#navl1 h2 {background-image: -webkit-gradient(linear,0 0,0 100%,from(#f9f9f9),to(#f2f2f2));
background-image: -moz-linear-gradient(center top,#f9f9f9,#f2f2f2);
border-bottom: 1px solid #dedede;
color: #666;
font-size: 12px;
font-weight: bold;
padding:5px 5px 5px 25px;
text-transform: uppercase;
}

		.genial_menu {
			margin: 0;
			padding: 0 0 20px 0;
			vertical-align: top;
			width: 100%;
		}
		.genial_menu ul {display: none;}
	
		
		.genial_menu ul ul {
			display: block;
		}
		.genial_menu ul ul li a {
			padding-left: 20px;
		}
		.genial_menu a {
			cursor: pointer;
			display: block;
			margin-left: 0;
			padding: 10px 0px 10px 50px;;
			
		}
		.genial_menu a.expanded {
			background:url('../images/collapse.png') no-repeat 200px 50%;
			
			
		}
		.genial_menu a.collapsed {
			background:url('../images/expand.png') no-repeat 200px 50%;
		}
		.genial_menu a:hover {
			text-decoration: none;
		}
		.genial_menu ul li { border-bottom: 1px dotted rgb(238, 238, 238); }
		
		.genial_menu ul a {
			border-top: 1px solid #fff;
			color: #000;
			display: block;
			padding: 6px 0px 6px 23px; background-color:#f9f9f9;
		}
		.genial_menu ul a:link {
			font-weight: normal;
		}
		.genial_menu ul a:hover {
	background-color: #F0F0F0;			
		}
		.genial_menu li.active a {
			/*background: #fff;*/
			background: #F0F0F0;
		}
		.genial_menu li.active li a {
			background: #e8e8e8;
		}
		

		
		.genial_menu .menucat1 {
	background-color: #E8E8E8;
	background-repeat: no-repeat;
	background-position: 19px 6px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D7D7D7;
}
		.genial_menu .menucat1:hover {
	background-color: #BCBCBC
}
		
		.genial_menu #menucat1 { background-image:url(../images/icons/Cog.png)}
		.genial_menu #menucat2 { background-image:url(../images/icons/Archive.png)}
		.genial_menu #menucat3 { background-image:url(../images/icons/alert_2.png)}




/****** ICONOS ******/
.sideicons {
	background-color: #E8E8E8;
	background-repeat: no-repeat;
	background-position: 19px 6px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D7D7D7;
}
#backupicon { background-image:url(../images/icons/Download.png)}
#optionicon { background-image:url(../images/icons/Cog.png)}
#privicon { background-image:url(../images/icons/List.png)}
#accounticon { background-image:url(../images/icons/user_2.png)}
#scrollicon { background-image:url(../images/icons/winner_podium.png)}
#webcontenticon { background-image:url(../images/icons/Archive.png)}


/********** FIN ICONOS ***********/


#contenido { line-height:18px; padding:20px;}


footer {
	background-image: -webkit-linear-gradient(top,#f5f5f5,#fff);
	background-image: -moz-linear-gradient(top,#f5f5f5,#fff);
	border-collapse: collapse;
	border-top: 1px solid #ccc;
	padding: 15px;
	color: #666;
}

/***** GENERAL CARPETA P/ *******/

.navipage { color:#666; padding:0 0 12px 0} .navipage a {color:#666} .navipage a:hover {color:#000}

.addbtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 21px 8px 8px;
	text-decoration:none; 
}.addbtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}.addbtn:active {
	position:relative;
	top:1px;
}

.addbtn span { width:15px; float:left; height:15px; background: url(../images/icons/white.png) no-repeat -405px -94px; font-size:0px; display: inline-block; margin-right:4px; position:relative; 
 }

.clasbtn { cursor:pointer;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}.clasbtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.clasbtn:active {
	position:relative;
	top:1px;
}



 
.clase_btn {cursor:pointer;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:normal;
	padding:6px 24px;
	text-decoration:none;
	}
.cancel_btn:active, .save_btn:active {position:relative;
	top:1px;}

.cancel_btn {
-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
 	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:arial;
	font-size:12px; font-weight:bold;
	
	
	
}.cancel_btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
} 

 
.save_btn { 
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c; padding:7px 24px; font-weight: bold;

	border:1px solid #83c41a;
	
	text-shadow:1px 1px 0px #689324;
}
.save_btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}

.save_btn_new { 
background: #1e8cbe;
border-color: #0074a2;
-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
color: #fff;
border:1px solid #1e8cbe;
text-shadow:1px 1px 0px #1e8cbe;
}

.save_btn_new:hover{
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e8cbe), color-stop(1, #30a3d7) );
	background:-moz-linear-gradient( center top, #1e8cbe 5%, #30a3d7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e8cbe', endColorstr='#30a3d7');
	background-color:#1e8cbe;
	}

 

.estilocampos input {  padding:5px 8px;  border:solid 1px #CCCCCC !important; background-color:#F7F7F7 !important; width:auto !important}
.estilocampos select { padding:5px; width:93% !important; border:solid 1px #CCCCCC;  background-color:#F7F7F7}
.borderad6 { border-radius:6px;}

.sidercampo input {padding:10px 8px !important; }

.btn_buscar {border: solid 1px #CCCCCC !important; background-color: #F7F7F7 !important; padding:4px 5px !important;}

.colodid { color:#C00}

.Estilo_tipoestado0 {
	background-color: #999999;
border-radius: 4px;
padding: 3px 8px;
color: #FFF;
font-size: 12px;
font-weight: bold;
width: auto;
display: inline-block;}
.Estilo_tipoestado1 {
	
	background-color:#A7D6A7;
border-radius: 4px;
padding: 3px 8px;
color:rgb(0, 136, 22);
font-size: 12px;
font-weight: bold;
width: auto;
display: inline-block;
	}
.Estilo_tipoestado5 { color:#066}

.iconclase { position:relative;
	display: inline-block;
  padding: 5px 14px 5px 28px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *margin-left: .3em;
  
  }
  
  .infoicon { 
  
-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed; color:#FFF
 
  
  }
 .btn-danger { 
   background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); color:#FFF;
  padding: 12px 14px 11px 21px;
 }
  
 .btn_icon { position:absolute; top:5px; left:5px; width:18px; height:17px; display: inline-block;  background-image:url(../images/icons/white.png); background-repeat:no-repeat; margin-right:5px;}

.deleteicon {background-position:-451px 0}
.editicon {background-position:-93px -70px; }

/****activity-log page****/
.activitylog { padding:0;}

.estilotabla table tr th {background-color: #EEE;
	padding: 8px 5px 8px 5px; 
	font-size: 14px; font-weight:bold; text-align:center; color: #333; border-right:solid 1px #fff;

	
	background-image: linear-gradient(bottom, rgb(231,231,231) 0%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(231,231,231) 0%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(231,231,231) 0%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(231,231,231) 0%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(231,231,231) 0%, rgb(255,255,255) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(231,231,231)),
	color-stop(1, rgb(255,255,255))
);
border-top:solid 1px #CCCCCC;
border-bottom:solid 1px #CCCCCC;
border-left:solid 1px #CCCCCC;
	}
.estilotabla table tr th:first-child { text-align:center; /*padding-left:20px; */}
.estilotabla table tr th:last-child {border-right:solid 1px #CCCCCC;}

.estilotabla table tr td { padding:10px 5px 10px 5px; border-bottom: dotted 1px #CCCCCC; font-size:14px; text-align:center }
.estilotabla table tr td .taleft { text-align:left; /*padding-left:20px;*/}
.estilotabla table tr td:first-child { text-align:center; /*padding-left:20px; */}
.estilotabla table tr:hover { background-color:#E9E9E9}




#pg { padding:12px 20px}
#pg .disabled, #pg a {display: inline-block; font-size: 14px; padding: 8px 25px; background-color: #F3F3F3; border: 1px solid #DDDDDD; border-radius:3px;}
#pg .disabled { color: rgba(51, 51, 51, 0.22);}
#pg a {color: rgba(51, 51, 51, 0.53); font-weight:bold;}
#pg a.current { background-color:rgb(228, 228, 228); border:1px solid rgb(173, 172, 172); border-radius:3px;}
#pg a:hover { background-color:#CCC; border:solid 1px #999999}

#pg2 { padding:12px 20px}
#pg2 .disabled, #pg2 a {display: inline-block; font-size: 12px; padding:5px 10px; background-color: #F3F3F3; border: 1px solid #DDDDDD; border-radius:3px;}
#pg2 .disabled { color: rgba(51, 51, 51, 0.22);}
#pg2 a {color: rgba(51, 51, 51, 0.53); font-weight:bold;}
#pg2 a.current { background-color:rgb(228, 228, 228); border:1px solid rgb(173, 172, 172); border-radius:3px;}
#pg2 a:hover { background-color:#CCC; border:solid 1px #999999}


/************* WEB CONTENT PAGE ***********/
.webcontentpage { position:relative}
.botoneditwc {position: absolute;
top: 8px;
right: 7px;
z-index: 1000;}

.marginbot12 { margin-bottom:12px;}
.height100 { height:82%}

.lateralpropage  a { color:#069; }
.Estilo_data_guardado1 {
	border:1px solid #82B4FF;
	background-color:#D9ECFF;
	margin-bottom:5px;
	margin-top:5px;
}
.estilo_error {
	border:1px solid #b6413c;
	background-color:#f00;
	color:#FFF;
	padding:6px;
	margin-bottom:4px;
	font-weight:bold;
	
}
.style_succes {
	border:1px solid #82B4FF;
	background-color:#D9ECFF;
	margin-bottom:5px;
	margin-top:5px;
}
.style_error {
	border:1px solid #b6413c;
	background-color:#e05e59;
	margin-bottom:5px;
		color:#FFF;
	margin-top:5px;
}
.style_error_cat
{
		border:1px solid #b6413c;
	background-color:#e05e59;
	margin-bottom:5px;
		color:#FFF;
	margin-top:5px;
}
.imagenesxp img { max-width: 50px; max-height:50px;}
.class_version
{
	color:#000;
	font-family:Verdana, Geneva, sans-serif;

}
.caja_texto {
	border:1px solid #999999;
	padding:2px;
}
.asterisco {
color: #FF0000;
font-size:17px;
}
.imagenesxp img { max-width: 50px; max-height:50px;}

.iconclase-widget { position:relative;
	display: inline-block;
  padding: 5px 5px 5px 5px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *margin-left: .3em;
  
  }
  
 .btn-danger-widget { 
   background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); color:#FFF;
  
 }
  .btn-edit-widget { 
   background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); color:#FFF;
  
 }
 
.class_link_status A:link 	{ font-size:13px; font-weight:bold;  text-decoration: none;	color: #0353a4;}
.class_link_status A:visited 	{ font-size:13px; font-weight:bold;  text-decoration: none;	color: #0353a4;}
.class_link_status A:hover 	{ font-size:13px; font-weight:bold;  text-decoration: underline;	color: #084da7;}
.class_link_status A:active 	{ font-size:13px; font-weight:bold;  text-decoration: none;	color: #0353a4;}

.row-actions {
font-size: 13px;
padding: 2px 0 0;
}
.row-actions a:hover
{
	text-decoration:underline;
}
.approve a {
color: #006505;
}
.unapprove a {
color: #d98500;
}
.spam a {
color: #aa0000;
}
.trash a {
color: #aa0000;
}
.reply a {
color: #0353a4;
}
.edit a {
color: #0353a4;
}
.view_post{
font-size: 13px;
padding: 2px 0 0;
}
.view_post a {
	color: #0353a4;
}
.view_post a:hover
{
	text-decoration:underline;
}

 .status_comment_1
 {
	 display: inline-block;
	 
line-height: 14px;
color: #ffffff;
 	text-shadow: none;
	font-size: 11px;
	font-weight: normal;
	padding: 1px 5px 3px;
	 background-color: #e39457 !important;
 }
 .status_comment_2
 {
	 display: inline-block;
	line-height: 14px;
	color: #ffffff;
 	text-shadow: none;
	font-size: 11px;
	font-weight: normal;
	padding: 1px 5px 3px;
	
	 background-color: #82AF6F !important;
	
 }
  .text_reply
 {
	 display: inline-block;
	line-height: 14px;
	color: #ffffff;
 	text-shadow: none;
	font-size: 11px;
	font-weight: normal;
	padding: 1px 5px 3px;
	
	 background-color: #e39457 !important;
	
 }
 .subsubsub {
list-style: none;
margin: 8px 0 0;
padding: 0;
font-size: 13px;
float: left;
color: #666;
}
.subsubsub li {
display: inline-block;
margin: 0;
padding: 0;
white-space: nowrap;
}
.subsubsub a.actcurrent {
font-weight: 600;
border: 0;
color:#000;
font-weight:bold;
}
.subsubsub a .count {
color: #999;
font-weight: 400;
}

.paginate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

a.paginate {
	border: 1px solid #000080;
	padding: 2px 6px 2px 6px;
	text-decoration: none;
	color: #000080;
}


a.paginate:hover {
	background-color: #000080;
	color: #FFF;
	text-decoration: none;
}

a.current {
	border: 1px solid #000080;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 2px 6px 2px 6px;
	cursor: default;
	background:#000080;
	color: #FFF;
	text-decoration: none;
}

span.inactive {
	border: 1px solid #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 2px 6px 2px 6px;
	color: #999;
	cursor: default;
}

.countLike {
font-size: 11px;
font-weight: bold;
margin-top:8px;
text-transform: uppercase;
display: inline-block;
padding: 4px 4px 4px 4px;
border: 1px solid #6e9d5a !important;
position: relative;
line-height: .95;
color:#6e9d5a !important;
}
.countUnlike {
font-size: 11px;
font-weight: bold;
text-transform: uppercase;
display: inline-block;
padding: 4px 4px 4px 4px;
border: 1px solid #d15b47 !important;
position: relative;
line-height: .95;
color: #d15b47 !important;
}
  .store_status_1
  {
	display: inline-block;
	line-height: 18px;
	color: #ffffff;
 	text-shadow: none;
	font-size: 11px;
	font-weight: normal;
	padding: 2px 5px 3px;
	background-color: #e39457 !important;
	
 }
label.error {
font-size:12px;
color: red;
margin-bottom:0px;
display:block;
}
.status-active{
	font-size: 11px;
font-weight: bold;
display: inline-block;
padding: 4px 4px 4px 4px;
border: 1px solid #6e9d5a !important;
position: relative;
line-height: .95;
background-color:#82AF6F  !important;
color:#FFF;
}
.status-inactive{
	font-size: 11px;
font-weight: bold;
display: inline-block;
padding: 4px 4px 4px 4px;
border: 1px solid #d15b47  !important;
position: relative;
line-height: .95;
background-color:#d15b47  !important;
color:#FFF;
}

.picture-wri-xy img{
		max-width: 50px; max-height:50px;
	}
#ui-datepicker-div{
        z-index: 9999999 !important;
    }	
	
.bmd-modalContent {
                margin-bottom: 20px;
                text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);    
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;

            }