	[cms-cols*="col"]{
		position:relative;
		float: left;
		padding: 5px 15px;
		margin-bottom: 5px;
		display: block;
	}
	
	@media(min-width: 768px)
	{
		[cms-cols*="c-1"]{width: 8.33333%;}
		[cms-cols*="c-2"]{width: 16,66666667%;}
		[cms-cols*="c-3"]{width: 25%;}
		[cms-cols*="c-4"]{width: 33.33333333%;}
		[cms-cols*="c-5"]{width: 41.66666667%;}
		[cms-cols*="c-6"]{width: 50%;}
		[cms-cols*="c-7"]{width: 58.33333333%;}
		[cms-cols*="c-8"]{width: 66.66666667%;}
		[cms-cols*="c-9"]{width: 75%;}
		[cms-cols*="c-10"]{width: 83.33333333%;}
		[cms-cols*="c-11"]{width: 91.66666667%;}
		[cms-cols*="c-12"]{width: 100%;}
		[cms-cols*="c5"]{width: 5%;}
		[cms-cols*="c10"]{width: 10%;}
		[cms-cols*="c20"]{width: 20%;}
		[cms-cols*="c30"]{width: 30%;}
		[cms-cols*="c40"]{width: 40%;}
		[cms-cols*="c50"]{width: 50%;}
		[cms-cols*="c60"]{width: 60%;}
		[cms-cols*="c70"]{width: 70%;}
		[cms-cols*="c80"]{width: 80%;}
		[cms-cols*="c90"]{width: 90%;}
		[cms-cols*="c100"]{width: 100%;}

	}
	@media(max-width: 991px)
	{
		[cms-cols*="cs-1"]{width: 8.33333%;}
		[cms-cols*="cs-2"]{width: 16,66666667%;}
		[cms-cols*="cs-3"]{width: 25%;}
		[cms-cols*="cs-4"]{width: 33.33333333%;}
		[cms-cols*="cs-5"]{width: 41.66666667%;}
		[cms-cols*="cs-6"]{width: 50%;}
		[cms-cols*="cs-7"]{width: 58.33333333%;}
		[cms-cols*="cs-8"]{width: 66.66666667%;}
		[cms-cols*="cs-9"]{width: 75%;}
		[cms-cols*="cs-10"]{width: 83.33333333%;}
		[cms-cols*="cs-11"]{width: 91.66666667%;}
		[cms-cols*="cs-12"]{width: 100%;}
		[cms-cols*="cs5"]{width: 5%;}
		[cms-cols*="cs10"]{width: 10%;}
		[cms-cols*="cs20"]{width: 20%;}
		[cms-cols*="cs30"]{width: 30%;}
		[cms-cols*="cs40"]{width: 40%;}
		[cms-cols*="cs50"]{width: 50%;}
		[cms-cols*="cs60"]{width: 60%;}
		[cms-cols*="cs70"]{width: 70%;}
		[cms-cols*="cs80"]{width: 80%;}
		[cms-cols*="cs90"]{width: 90%;}
		[cms-cols*="cs100"]{width: 100%;}
	}
	@media(max-width: 767px)
	{
		[cms-cols*="cx-1"]{width: 8.33333%;}
		[cms-cols*="cx-2"]{width: 16,66666667%;}
		[cms-cols*="cx-3"]{width: 25%;}
		[cms-cols*="cx-4"]{width: 33.33333333%;}
		[cms-cols*="cx-5"]{width: 41.66666667%;}
		[cms-cols*="cx-6"]{width: 50%;}
		[cms-cols*="cx-7"]{width: 58.33333333%;}
		[cms-cols*="cx-8"]{width: 66.66666667%;}
		[cms-cols*="cx-9"]{width: 75%;}
		[cms-cols*="cx-10"]{width: 83.33333333%;}
		[cms-cols*="cx-11"]{width: 91.66666667%;}
		[cms-cols*="cx-12"]{width: 100%;}
		[cms-cols*="cx5"]{width: 5%;}
		[cms-cols*="cx10"]{width: 10%;}
		[cms-cols*="cx20"]{width: 20%;}
		[cms-cols*="cx30"]{width: 30%;}
		[cms-cols*="cx40"]{width: 40%;}
		[cms-cols*="cx50"]{width: 50%;}
		[cms-cols*="cx60"]{width: 60%;}
		[cms-cols*="cx70"]{width: 70%;}
		[cms-cols*="cx80"]{width: 80%;}
		[cms-cols*="cx90"]{width: 90%;}
		[cms-cols*="cx100"]{width: 100%;}
	}
	@media(max-width: 450px)
	{
		[cms-cols*="cx-1"]{width: 100%;}
		[cms-cols*="cx-2"]{width: 100%;}
		[cms-cols*="cx-3"]{width: 100%;}
		[cms-cols*="cx-4"]{width: 100%;}
		[cms-cols*="cx-5"]{width: 100%;}
		[cms-cols*="cx-6"]{width: 100%;}
		[cms-cols*="cx-7"]{width: 100%;}
		[cms-cols*="cx-8"]{width: 100%;}
		[cms-cols*="cx-9"]{width: 100%;}
		[cms-cols*="cx-10"]{width: 100%;}
		[cms-cols*="cx-11"]{width: 100%;}
		[cms-cols*="cx-12"]{width: 100%;}		
		[cms-cols*="cx5"]{width: 100%;}
		[cms-cols*="cx10"]{width: 100%;}
		[cms-cols*="cx20"]{width: 100%;}
		[cms-cols*="cx30"]{width: 100%;}
		[cms-cols*="cx40"]{width: 100%;}
		[cms-cols*="cx50"]{width: 100%;}
		[cms-cols*="cx60"]{width: 100%;}
		[cms-cols*="cx70"]{width: 100%;}
		[cms-cols*="cx80"]{width: 100%;}
		[cms-cols*="cx90"]{width: 100%;}
		[cms-cols*="cx100"]{width: 100%;}
	}
	[cms-cols*="col"] input:focus, [cms-cols*="col"] textarea:focus{
    	border-color: #8a8888;
    	outline: 0;
	}
	[cms-cols*="col"] input, [cms-cols*="col"] select, [cms-cols*="col"] textarea
	{
		width: 100%;
		min-height: 33px;
		padding: 10px;
		border: 1px solid #a9a9a9;
	}
	[cms-cols*="col"] textarea {height: 100px;}
	.captcha-cms{height: 44px;}
	label {
    	display: inline-block;
    	max-width: 100%;
    	margin-bottom: 5px;
    	font-weight: 700;
    	position: relative;
	}
    .error {color:#e74c3c;font-size:12px;position: absolute;}
    .asterisco {
    	color: #e74c3c;
    	font-size: 12px;
    	position: absolute;
    	right: -10px;
    	top: 5px;
	}
    .msj-response {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
	}
	
	.btn-cms {
	color: #fff;
	max-width: fit-content;
	text-transform: uppercase;
	background-color: #009800;
	display: inline-block;
	padding: 10px 20px;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.4;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	}
    .btn-cms-small{padding: 5px;}
	.btn-white {
    	color: #000;
    	background-color: #fff;
    	border-color: #ccc;
    }
	.btn-yellow {
    	color: #fff;
    	background-color: #f0ad4e;
    	border-color: #eea236;
    }
	.btn-blue {
    	color: #fff;
    	background-color: #337ab7;
    	border-color: #2e6da4;
	}
	.btn-red {
    	color: #fff;
    	background-color: #d9534f;
    	border-color: ##d43f3a;
	}

	.img-circle{
		border-radius:50%;
	}

	.panel-body .row{
		margin: 0px !important;
	}
	#form-write-review .row{
		margin: 0px !important;
	}