.accordion {
    margin: 0;
    padding:10px;
    height:40px;
    border-top:#f0f0f0 1px solid;
	border-right:#f0f0f0 1px solid;
	border-left:#f0f0f0 1px solid;

    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    text-transform:uppercase;
    color: #000;
    font-size:1em;
	background-color: #f5f5f5;
	cursor:pointer;
	border-color: #ddd;
}
.accordion-open {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;

}
.accordion-open span {
    display:block;
    float:right;
    padding:10px;
}
.accordion-open span {
    background:url(../images/minus.png) center center no-repeat;
}
.accordion-close {
       color: #333;
    background-color: #f5f5f5;
	border-top:#f0f0f0 1px solid;
	border-right:#f0f0f0 1px solid;
	border-left:#f0f0f0 1px solid;
	border-bottom:#f0f0f0 1px solid;
	border-color: #ddd;
	

}
.accordion-close span {
    display:block;
    float:right;
    background:url(../images/plus.png) center center no-repeat;
    padding:10px;
	
}



	.list-group-item:first-child {
     border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
	}
	.list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
