    .panel-title > a {
        color: inherit;
        display:block;
        text-decoration:none;
    } 
    .category-child .post-content span {
        color: #fff;
    }
    .category-child .post-content {     
    background-color: rgba(7, 7, 7, 0.65);
    color: #fff;
    margin-top: 0px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
    height: 30px;
    overflow: hidden;   
    }
    .thumb{
            display: block;
            padding: 4px;
            margin-bottom: 20px;
            line-height: 1.42857143;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            -webkit-transition: border .2s ease-in-out;
            -o-transition: border .2s ease-in-out;
            transition: border .2s ease-in-out;
            float:left;
            margin-right:10px;
        }
    .thumb img {
        width: 180px;
        height: 140px;
    }
    .thumb a{
        text-decoration: none;
    }
    .post-content span {
        line-height: 30px;
        position: relative;
        top: 0px;
    }
    .clear {
        clear: both;
        zoom: 1;
    }
    .category-child .group{
        font-size: 24px;
        line-height: 30px;
    }
    .cat_nombre{
        font-size: 24px;
        line-height: 30px;
    }
.paginate {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
a.paginate {
    border: 1px solid #000080;
    padding: 2px 6px 2px 6px;
    text-decoration: none;
    color: #000080;
}
a.paginate:hover {
    background-color: #000080;
    color: #FFF;
    text-decoration: none;
}
a.current {
    border: 1px solid #000080;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 2px 6px 2px 6px;
    cursor: default;
    background:#000080;
    color: #FFF;
    text-decoration: none;
}
span.inactive {
    border: 1px solid #999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 2px 6px 2px 6px;
    color: #999;
    cursor: default;
}   
 /**** LAYOUT ****/
    .list-inline>li {
        padding: 0 10px 0 0;
    }
    .container-pad {
        padding: 30px 15px;
    }
    /**** MODULE ****/
    .bgc-fff {
        background-color: #fff!important;
    }
    .box-shad {
        -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
        box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    }
    .brdr {
        border: 1px solid #ededed;
    }
    /* Font changes */
    .fnt-smaller {
        font-size: .9em;
    }
    .fnt-lighter {
        color: #999;
    }
    /* Padding - Margins */
    .pad-10 {
        padding: 10px!important;
    }
    .mrg-0 {
        margin: 0!important;
    }
    .btm-mrg-10 {
        margin-bottom: 10px!important;
    }
    .btm-mrg-20 {
        margin-bottom: 20px!important;
    }
    /* Color  */
    .clr-535353 {
        color: #535353;
    }
    /**** MEDIA QUERIES ****/
    @media only screen and (max-width: 991px) {
        #property-listings .property-listing {
            padding: 5px!important;
        }
        #property-listings .property-listing a {
            margin: 0;
        }
        #property-listings .property-listing .media-body {
            padding: 10px;
        }
    }
 .thumb-cat img {
        width: 100%;
        height: 100%;
        margin-right:auto;
        margin-left:auto;
    }
.media-block {
    float: left;
}
.avatar {
    border-right: 10px solid transparent;
    border-left: none;
}
.detail {
    padding-top: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.5em;
    color: #555;
}   
.actions{
        overflow: hidden;
    zoom: 1;
    }
@media screen and (max-width: 600px) {
    .actions .btn{
        display:block;
    }
    .actions .pull-right {
     float: none!important;
    }
    .media .pull-left{
        float: none!important;
    }
    .thumb{   
            float:none;
            margin-right:0px;
        }
     .thumb img {
         width: 100%;
        height: auto;
        margin-right:auto;
        margin-left:auto;
    }
     .thumb-cat img {
        width: 100%;
        height: auto;
        margin-right:auto;
        margin-left:auto;
    }
      .category-child .post-content {
        width: 100%;  
    }
    .media-block {
        float: none !important;
    }
    .avatar {
    border-right: 0px solid transparent;
    padding-bottom:10px;
}
}
