$color1: #f30000;
.slider-area {
    position: relative;
    video {
        width: 100%;
        object-fit: cover;
    }
    .items {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        color: #fff;
    }
    &:after {
        content: '';
        display: block;
        background-color: rgba(0, 0, 0, 0.45);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .slider {
        width: 100%;
        height: 100%;
        object-fit: cover
    }
    .caption {
        position: relative;
        z-index: 15;
        width: 90%;
        max-width: 1140px;
        h2 {
            color: $color1;
            line-height: normal;
            span {
                color: #fff;
            }
        }
        p {
            max-width: 500px;
        }
        .readmore {
            background-color: $color1;
            color: #fff;
            display: inline-block;
            font-weight: bold;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: #000;
            }
        }
    }
    @media(max-width: 479px) {}
    @media(max-width: 639px) and (min-width: 480px) {}
    @media(max-width: 639px) {}
    @media(max-width: 767px) and (min-width: 640px) {}
    @media(max-width: 767px) {
        background-image: url(../images/slide1.jpg);
        height: 400px;
        background-position: center;
        background-size: cover;
        video {
            visibility: hidden;
            opacity: 0;
        }
        .caption {
            .readmore {
                padding: 12px;
            }
        }
    }
    @media(min-width: 640px) {}
    @media(max-width: 767px) and (min-width: 640px) {}
    @media(min-width: 768px) {
        height: 700px;
        .caption {
            h2 {
                font-size: 60px;
            }
            p {
                font-size: 18px;
                line-height: 34px;
            }
            .readmore {
                padding: 20px 40px;
                margin-top: 30px;
            }
        }
    }
    @media(max-width: 1023px) and (min-width: 768px) {
        video {
            height: 100%;
        }
    }
    @media(max-width: 1329px) and (min-width: 768px) {}
    @media(max-width: 1023px) {}
    @media(min-width: 1024px) {}
    @media(max-width: 1329px) {}
    @media(max-width: 1329px) and (min-width: 1024px) {}
    @media(min-width: 1330px) {}
    @media(max-width: 1659px) and (min-width: 1330px) {}
    @media(min-width: 1660px) {}
}

.logo-footer {
    img {
        opacity: 0.8;
    }
}

.satisfaction {
    padding-bottom: 30px;
    h2 {
        color: #fff;
        span {
            color: $color1;
        }
    }
    @media(max-width: 479px) {}
    @media(max-width: 639px) and (min-width: 480px) {}
    @media(max-width: 639px) {}
    @media(max-width: 767px) and (min-width: 640px) {}
    @media(max-width: 767px) {}
    @media(min-width: 640px) {}
    @media(max-width: 767px) and (min-width: 640px) {}
    @media(min-width: 768px) {
        h2 {
            font-size: 30px;
        }
    }
    @media(max-width: 1023px) and (min-width: 768px) {}
    @media(max-width: 1329px) and (min-width: 768px) {}
    @media(max-width: 1023px) {}
    @media(min-width: 1024px) {}
    @media(max-width: 1329px) {}
    @media(max-width: 1329px) and (min-width: 1024px) {}
    @media(min-width: 1330px) {}
    @media(max-width: 1659px) and (min-width: 1330px) {}
    @media(min-width: 1660px) {}
}

.testimonial-one {
    .testimonial-detail .text-center {
        padding-top: 15px;
        img.stats {
            width: auto;
            margin: auto;
        }
    }
}