.c-ver-rat
{
	padding:4px;
	line-height:30px;	
}
.desc-rating{
	font-size: 14px;
	/*padding-top: 7px;*/
	/*padding-bottom: 12px;*/
}
.sec-btns-yes-no{
	padding-bottom: 10px;
}
.title-project-rr{
	padding-top: 5px;
	font-weight:bold; 
	font-size:12px;
	color:#000
}
.paginate {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
a.paginate {
	text-decoration: none;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #337ab7;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}
a.paginate:hover {
	text-decoration: none;
    background-color: #eeeeee;
}
a.current {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 6px 12px;
	cursor: default;
	text-decoration: none;
	color: #fff;
	cursor: default;
	background-color: #337ab7;
	border: 1px solid #337ab7;
}

span.inactive {
	border: 1px solid #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 2px 6px 2px 6px;
	color: #999;
	cursor: default;
}
.t-text-lite {
	color: #666;
}
.t-text-date {
	color: #999;
	line-height:20px;
}

.styleNotLike
{
	border: 1px solid #82B4FF;
	background-color: #D9ECFF;	
}
.styleNotUnlike
{
	border:1px solid #b6413c;
	background-color:#e05e59;
	color:#FFF;	
}

.picture-wri-xy
{
	max-width: 45px; max-height:45px;
	text-align:center;
}

.stars-left-name
{
	float:left;
	padding-right:4px;
	line-height:20px;
}
.stars-left
{
	float:left;
}
.stars-left-cont
{
	float:left;
	color:#f7901e; font-weight:bold; font-size:13px;
}
.ca-write{
	text-align:right;
}
.ca-hea-msj{
		text-align:right;
	}
.picture-wri-xy {
	max-width: 45px; max-height:45px;
	text-align:center;
}
.error {
	color:#e74c3c;
	font-size:12px;
}
.asterisco {
  color: #e74c3c;
  font-size: 17px;
}
.cont-g-rating-write-review .btn-primary {
  background-color: #D88600;
  border-color: #C77B03;

}
.cont-g-rating-write-review .btn-primary:hover{
  background-color: #BE7600;
  border-color: #C77B03;

}
.cont-g-rating-write-review h1{
  font-size: 25px;
}	
@media screen and (max-width: 768px) {
	.ca-write{
		text-align:center;
	}
	.ca-hea-msj
	{
		text-align:center !important;
	}
}