@import url("bootstrap.min.css");
@import url("font-awesome.min.css");
@import url("flaticon.min.css");
@import url("animate.min.css");
@import url("owl.carousel.min.css");
@import url("bootstrap-select.min.css");
@import url("magnific-popup.min.css");
@import url("style.css");
@import url("skin/skin-12.css");
@import url("custom.css");
@import url("switcher.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,500,500italic,700,700italic,900italic,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,800italic,800,700italic");
@import url("https://fonts.googleapis.com/css?family=Crete+Round:400,400i&amp;subset=latin-ext");